<footer class="page-footer">
	<div class="container">
		<div class="page-footer__wrap">
			<div class="page-footer-menu">
				<div class="page-footer-menu__wrap">
					<div class="page-footer-menu__item">
						<a href="#" class="page-footer-menu__top">
							Collections
						</a>
					</div>
					<div class="page-footer-menu__item">
						<a href="#" class="page-footer-menu__top">
							Style studio
						</a>
						<a href="#" class="page-footer-menu__link">
							The Design Box
						</a>
						<a href="#" class="page-footer-menu__link">
							Trend hub
						</a>
						<a href="#" class="page-footer-menu__link">
							Visualizers
						</a>
					</div>
					<div class="page-footer-menu__item">
						<a href="#" class="page-footer-menu__top">
							Trade pros
						</a>
						<a href="#" class="page-footer-menu__link">
							Resources
						</a>
						<a href="#" class="page-footer-menu__link">
							Architect & Designer
						</a>
						<a href="#" class="page-footer-menu__link">
							Dealer
						</a>
						<a href="#" class="page-footer-menu__link">
							Builder / Contractor
						</a>
					</div>
					<div class="page-footer-menu__item">
						<a href="#" class="page-footer-menu__top">
							About Us
						</a>
						<a href="#" class="page-footer-menu__link">
							Company Information
						</a>
						<a href="#" class="page-footer-menu__link">
							Careers	
						</a>
						<a href="#" class="page-footer-menu__link">
							Locations
						</a>
						<a href="#" class="page-footer-menu__link">
							Contact Us	
						</a>
						<a href="#" class="page-footer-menu__link">
							Events	
						</a>
					</div>
				</div>
			</div>
			<div class="page-footer-contact">
				<div class="page-footer-menu__top">
					Contact Us
				</div>
				<div class="socials">
					<a href="#" class="socials__link m-insta"></a>
					<a href="#" class="socials__link m-linked"></a>
					<a href="#" class="socials__link m-fb"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom">
		<div class="container">
			<div class="bottom__wrap">
				&copy; 2023 Laparet

				<a href="#" class="bottom__policy">
					Privacy Policy
				</a>
				<div class="develop">
					Development: <a href="https://nineseven.ru/" class="develop__link"></a>
				</div>
			</div>
		</div>
	</div>
</footer>