<header class="page-header">
	<div class="container">
		<div class="page-header__wrap">
			<a href="#" class="logo">
				<img src="img/svg/logo.svg" alt="">
			</a>
			<div class="page-header-r">
				<div class="page-header-menu">
					<div class="page-header-menu__item m-sub">
						<a href="#" class="page-header-menu__link">
							Products
							<span class="subPlus">+</span>
						</a>
						<div class="page-header-submenu">
							<div class="container">
								<div class="page-header-submenu__wrap">
									<div class="page-header-submenu__list">
										<div class="page-header-submenu__top">
											<a href="#" class="page-header-submenu__link">
												Test1
											</a>
										</div>
										<a href="#" class="page-header-submenu__sec">Test1-1</a>
									</div>
									<div class="page-header-submenu__list">
										<div class="page-header-submenu__top">
											<a href="#" class="page-header-submenu__link">
												Test2
											</a>
										</div>
										<a href="#" class="page-header-submenu__sec">Test2-1</a>
										<a href="#" class="page-header-submenu__sec">Test2-2</a>
										<a href="#" class="page-header-submenu__sec">Test2-3</a>
										<a href="#" class="page-header-submenu__sec">Test2-4</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="page-header-menu__item m-sub">
						<a href="#" class="page-header-menu__link">
							Style studio
							<span class="subPlus">+</span>
						</a>
						<div class="page-header-submenu">
							<div class="container">
								<div class="page-header-submenu__wrap">
									<div class="page-header-submenu__list">
										<div class="page-header-submenu__top">
											<a href="#" class="page-header-submenu__link">
												The Design Box
											</a>
										</div>
										<a href="#" class="page-header-submenu__sec">Care & Maintenance</a>
										<a href="#" class="page-header-submenu__sec">Design Center Support </a>
										<a href="#" class="page-header-submenu__sec">Virtual Catalogs</a>
									</div>
									<div class="page-header-submenu__list">
										<div class="page-header-submenu__top">
											<a href="#" class="page-header-submenu__link">
												Trend hub
											</a>
										</div>
										<a href="#" class="page-header-submenu__sec">Care & Maintenance</a>
										<a href="#" class="page-header-submenu__sec">Design Center Support</a>
										<a href="#" class="page-header-submenu__sec">Virtual Catalogs</a>
										<a href="#" class="page-header-submenu__sec">Care & Maintenance</a>
										<a href="#" class="page-header-submenu__sec">Design Center Support</a>
									</div>
									<div class="page-header-submenu__list">
										<div class="page-header-submenu__top">
											<a href="#" class="page-header-submenu__link">
												Visualizers
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="page-header-menu__item">
						<a href="#" class="page-header-menu__link">Trade pros</a>
					</div>
					<div class="page-header-menu__item">
						<a href="#" class="page-header-menu__link">About us</a>
					</div>

					<div class="page-header-search">
						<a href="#" class="page-header-search__link js-top-search"></a>
						<div class="top-search__toggle">
							<form action="#" method="post">
								<input type="text" class="top-search__input" placeholder="search">
								<input type="submit" class="top-search__submit">
								<a href="#" class="top-search__close js-top-search__close"></a>
							</form>
						</div>
					</div>

					<a href="#" class="menu-btn">
						<span class="burger-icon"></span>
					</a>
					<div class="menu-mobile">
						<div class="menu-mobile__top">
							menu
						</div>
						<div class="menu-mobile__list">
							<div class="menu-mobile__item m-sub">
								<a href="#" class="menu-mobile__link">
									Products
								</a>
								<a href="#" class="menu-mobile__toggle js-menu-mobile__toggle"></a>

								<div class="menu-mobile-sub">
									<div class="page-header-submenu__list">
										<div class="page-header-submenu__top">
											<a href="#" class="page-header-submenu__link">
												Test1
											</a>
										</div>
										<a href="#" class="page-header-submenu__sec">Test1-1</a>
									</div>
									<div class="page-header-submenu__list">
										<div class="page-header-submenu__top">
											<a href="#" class="page-header-submenu__link">
												Test2
											</a>
										</div>
										<a href="#" class="page-header-submenu__sec">Test2-1</a>
										<a href="#" class="page-header-submenu__sec">Test2-2</a>
										<a href="#" class="page-header-submenu__sec">Test2-3</a>
										<a href="#" class="page-header-submenu__sec">Test2-4</a>
									</div>
								</div>
							</div>
							<div class="menu-mobile__item m-sub">
								<a href="#" class="menu-mobile__link">
									Style studio
								</a>
								<a href="#" class="menu-mobile__toggle js-menu-mobile__toggle"></a>
								<div class="menu-mobile-sub">
									<div class="page-header-submenu__list">
										<div class="page-header-submenu__top">
											<a href="#" class="page-header-submenu__link">
												The Design Box
											</a>
										</div>
										<a href="#" class="page-header-submenu__sec">Care & Maintenance</a>
										<a href="#" class="page-header-submenu__sec">Design Center Support </a>
										<a href="#" class="page-header-submenu__sec">Virtual Catalogs</a>
									</div>
									<div class="page-header-submenu__list">
										<div class="page-header-submenu__top">
											<a href="#" class="page-header-submenu__link">
												Trend hub
											</a>
										</div>
										<a href="#" class="page-header-submenu__sec">Care & Maintenance</a>
										<a href="#" class="page-header-submenu__sec">Design Center Support</a>
										<a href="#" class="page-header-submenu__sec">Virtual Catalogs</a>
										<a href="#" class="page-header-submenu__sec">Care & Maintenance</a>
										<a href="#" class="page-header-submenu__sec">Design Center Support</a>
									</div>
									<div class="page-header-submenu__list">
										<div class="page-header-submenu__top">
											<a href="#" class="page-header-submenu__link">
												Visualizers
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="menu-mobile__item">
								<a href="#" class="menu-mobile__link">
									Trade pros
								</a>
							</div>
							<div class="menu-mobile__item">
								<a href="#" class="menu-mobile__link">
									About us
								</a>
							</div>
						</div>
						<div class="menu-mobile-more">
							<a href="#" class="menu-mobile-more__link">
								Distributor
							</a>
							<a href="#" class="menu-mobile-more__link">
								Contact us
							</a>
						</div>
					</div>
				</div>
				<div class="page-header-more">
					<a href="#" class="page-header-more__link">
						Distributor
					</a>
					<a href="#" class="page-header-more__link">
						Contact us
					</a>
				</div>
			</div>
		</div>
	</div>
</header>

