/*FONT-FAMILY*/
//$default-font:'tt_normsregular', Arial, sans-serif;
$default-font: 'suisse_intlregular', Arial, sans-serif;

/*FONT-SIZE*/
$default-size-font: 16px;

/*BACKGROUND*/
$default-site-bg: #fff url(../img/content/bg-pt.png) center repeat;
//$alt-site-bg: #7A1774;

//$default-bg: #eeeeee;

/*TEXT-COLOR*/
$base-color: #272726;

$alt-color: #3ABDB5;